<div class="nav-categories">
  <%= render 'layouts/nav_categories' %>
</div>

<div class="breadcrumbs">
</div>

<div class="list-products">
  <article class="text-page">
  <h1>Quer anunciar conosco?</h1>
  <div>
    <h2>Entre em contato conosco</h2>
    <p>
      Email: contato@andemenos.com
    </p>
  </div>
  </article>
</div>
