@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    width: 400px !important;
}

input.hasDatepicker {
  width: 150px !important;
}

input.hasTimepicker {
  width: 100px !important;
}

textarea {
  width: 800px !important;
}

.wysihtml5_type > .well {
  width: 80.7% !important;
  margin-left: 15px !important;
}

iframe.wysihtml5-sandbox, .wysihtml5-editor{
  border: 1px solid #ccc !important;
  width: 99.7% !important;
}
