<div class="text-center">
<br /><br />
<div><%= image_tag 'ande-menos.png' %></div>
<h1>Erro interno</h1>
<p>Desculpe mas ocorrêu um erro interno. Nem nós sabemos o que é.</p>
<p>De 3 pulinhos, 4 voltas, reinicie seu navegador e tente novamente.</p>
<p>Se não der certo, tenha fé, um dia voltaremos</p>
</div>
