<div class="nav-categories">
  <%= render 'layouts/nav_categories' %>
</div>

<div class="breadcrumbs">
</div>

<div class="list-products">
<article class="text-page">
<h1>Quem somos</h1>
<div>
  <h2>Nosso Objetivo</h2>
  <p>
    O Andemenos.com tem como objetivo ser uma plataforma virtual de aproximação
    entre compradores e anunciantes. Por meio do Andemenos.com, empresas podem
    divulgar suas ofertas, as quais podem ser visualizados pelos compradores que
    poderão ir diretamente a empresa do anunciante com mais agilidade, ou seja,
    ANDANDO MENOS.
  </p>
</div>
<div>
  <h2>Nossa Missão</h2>
  <p>
    Aumentar o poder do consumidor para que ele possa fazer suas escolas e
    realizar a melhor experiência de consumo, economizando seus tempo e dinheiro
    por meio de nossa inovação e tecnologia.
  </p>
  <p>
    Potencializar o contato entre os anunciantes e seus clientes, dando a ele
    ferramenta de avaliação e aferição de seus anúncios.
  </p>
</div>
<div>
  <h2>Nossa Visão</h2>
  <p>
    Ser referência no ramos de anúncios para supermercados, potencializando
    assim as relações de consumo.
  </p>
</div>
<div>
  <h2>Nossos Valores</h2>
  <p>
    <ul>
      <li>Nossas inspirações para idealizar nosso produtos são os consumidores;</li>
      <li>Amamos empreender, por esse motivo acreditamos que somos empreendedores por natureza;</li>
      <li>Somos o que somos por causa dos talento que unimos ao nosso time;</li>
      <li>Respeito é tudo;</li>
      <li>Sempre celebraremos nossas conquistas com todos aqueles que fazem parte dela.</li>
    </ul>
  </p>
</div>
</article>
</div>
