// Colors
$color-1: #F8E36B; // Yellow dakr
$color-2: #FADC64; // Yellow light
$color-3: #000; // Black
$color-4: #EBEBEB; // Gray
$color-5: #FFF; // white
$color-6: #4977B3; // Blue
$color-7: #4D4D4D; // Gray dark
$color-8: #CF7676; // Red
$color-9: #a7a7a7; // Gray light
$color-10: #CF6461; // Red light

$mobile: max-width 480px;
$tablet: min-width 481px max-width 768px;
$small-desktop: min-width 769px max-width 940px;
$desktop: min-width 941px;
$all: max-width 940px;

$font-family: 'Titillium Web', sans-serif;

// FADC64
// F8E36B
