<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Andemenos.com</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= favicon_link_tag 'icon.png' %>

	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
